h1 {
  border: 1PX solid blue;
  background-color: skyblue;
  width: 500px;
  /* text-align:center; */

    
}
  
  
    
    

body {
  border: 1PX solid blue;
  background-color: snow;
  width: 500px;
  color: blue;
  margin-left: 350;
  /* text-align: center; */
}
  
  
