h1{
    color: red;
  text-align: center;
    background-color: paleturquoise;
    border: 1px solid black;
    
}
body {
    color: blue;
    background-color:paleturquoise;
    border: 1px solid black;

 
}